<div class="container">

<h1>Contact Clean, Well-Lighted Items Auction House </h1>
<h2>Please direct all subpoenas, lawsuits, arrest warrants, or other forms of litigation to:</h2>
<h3> Curator: James Maynard </h3>
<h3> Email: Jklm@cwli.com</h3>

<h3> Staff Photographer: Richard Rethemeyer </h3>
<h3> Email: rr@cwli.com</h3>
</div>
