<div class="container">


  <h1>Department List </h1>
  <h3> Departments items here</h3>



{{#link-to 'new-departments' classNames="btn btn-primary"}}Create Department{{/link-to}}

  <h4>Create a new Department</h4>

  {{outlet}}
</div>
